<div class="container mt-3">
  <h1 class="text-center mb-5"><%= @cocktail.name %></h1>

  <% if @cocktail.photo.attached? %>
    <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fit, class: "mx-auto d-block mb-5" %>
    <% else %>
      <%= cl_image_tag ("https://images.unsplash.com/photo-1587223962930-cb7f31384c19?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200"), class: "mx-auto d-block mb-5" %>
  <% end %>

    <% if @cocktail.doses.count > 0 %>
      <table>
        <tr>
          <th>Quantity</th>
          <th>Ingredient</th>
          <th></th>
        </tr>
        <% @doses.each do |dose| %>
          <tr>
            <td><%= dose.description %></td>
            <td><%= dose.ingredient.name %></td>
            <td><%= link_to ('<i class="far fa-trash-alt"></i>').html_safe, cocktail_dose_path(@cocktail, dose), method: :delete %></td>
          </tr>   
        <% end %>
      </table>
      <% else %>    
      <div class="text-center">No ingredients yet!</div>
    <% end %>

    <div class="text-center">
      <%= link_to "Add a new ingredient", new_cocktail_dose_path(@cocktail), class: "page-link" %>  
    </div>
  </div>
